* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  /* ─── CORES ─── */
  --preto:         #0b0b0c;  /* fundo principal do body, hero, header */
  --cinza-escuro:  #0e0e0f;  /* fundo de seções alternadas (destaque, contato) */
  --cinza-medio:   #17171a;  /* variação de fundo, disponível pra uso futuro */
  --cinza-linha:   #2b2b2e;  /* bordas finas, divisórias entre seções e cards */
  --cinza-claro:   #9a9a9e;  /* texto secundário, emphasis em itálico (hero, logo) */
  --cinza-claro-2: #6e6e72;  /* texto mais discreto: eyebrows, legendas, labels */
  --branco:        #eeeeec;  /* texto principal, títulos, texto de maior destaque */
  --branco-fraco:  #cfcfcd;  /* parágrafos de corpo, texto secundário mais legível */

  /* ─── TIPOGRAFIA ─── */
  --serif: 'Cormorant Garamond', Georgia, serif;  /* títulos, citações, destaques editoriais */
  --sans:  'Inter', sans-serif;                    /* corpo de texto, navegação, formulário */

  /* ─── ANIMAÇÃO ─── */
  --transicao: 0.5s cubic-bezier(0.16, 1, 0.3, 1);  /* hovers e transições suaves em toda a página */
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

/*--CABEÇALHO--*/

header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px;
}

.logo {
  text-transform: capitalize;
  font-family: var(--serif);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--branco);
}

.logo-span {
  color: var(--cinza-claro);
  font-style: italic;
}

.lista-nav {
  display: flex;
  gap: 40px;
}

.lista-nav li {
  list-style: none;
}

.lista-nav li a {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--sans);
  text-decoration: none;
  color: var(--cinza-claro);
  position: relative;
  padding-bottom: 4px;
}

.lista-nav li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--branco);
  transition: var(--transicao);
}

.lista-nav li a:hover::after {
  width: 100%;
}

.btn-nav {
  padding: 12px 20px;
  border: 1px solid var(--cinza-linha);
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: var(--sans);
  text-decoration: none;
  color: var(--branco);
  text-transform: uppercase;
  transition: var(--transicao);
  border-radius: 4px;
}

.btn-nav:hover {
  background-color: var(--branco-fraco);
  color: var(--preto);
}

/* ─── SEÇÃO HERO ─── */

.hero-section {
  background-color: var(--preto);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imagens/img-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-conteudo {
  min-height: 100vh;
  height: 100%;
  color: var(--branco);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding-top: 100px;
  padding-bottom: 100px;
}

.span-hero {
  font-size: 12px;
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--cinza-claro);
  margin-bottom: 22px;
}

.titulo {
  font-weight: normal;
  font-family: var(--serif);
  text-transform: capitalize;
  color: var(--branco-fraco);
  letter-spacing: 1px;
  line-height: 1.1;
  font-size: 90px;
  max-width: 70%;
  width: 100%;
  margin-bottom: 22px;
}

.titulo span {
  color: var(--cinza-claro);
  font-style: italic;
}

.texto-hero {
  font-family: var(--sans);
  color: var(--cinza-claro);
  max-width: 500px;
  line-height: 1.7;
}

/* ─── SEÇÃO SOBRE ─── */

.sobre-section {
  background-color: var(--cinza-escuro);
  padding: 160px 0px;
  color: var(--branco);
  border-bottom: 1px solid var(--cinza-linha);
}

.sobre-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.sobre-esquerdo span {
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  color: var(--cinza-claro);

}

.nome-sobre {
  font-weight: normal;
  font-size: 32px;
  margin-top: 22px;
  font-family: var(--serif);
  text-transform: capitalize;
  color: var(--branco);
  letter-spacing: 1px;
}

.titulo-sobre {
  font-weight: normal;
  font-family: var(--serif);
  font-style: italic;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: var(--branco);
  margin-bottom: 30px;
}

.sobre-direito p {
  font-family: var(--sans);
  letter-spacing: 1px;
  color: var(--cinza-claro);
  line-height: 1.7;
  margin-bottom: 22px;
}

/*SEÇÃO DESTAQUE*/

.destaque-section {
  min-height: 80vh;
  height: 100%;
  background-color: var(--cinza-medio);
  padding: 120px 0px;
  border-bottom: 1px solid var(--cinza-linha);
}

.destaque-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.destaque-esquerdo span {
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  color: var(--cinza-claro);
}

figure {
  overflow: hidden;
}

.img-destaque {
  margin-top: 26px;
  max-width: 500px;
  width: 100%;
  transition: var(--transicao);
}

.img-destaque:hover {
  transform: scale(1.03);
  cursor: crosshair;
  box-shadow: -8px 9px 6px -1px #0e0e0f54;
}

.legenda-img {
  margin-top: 8px;
  color: var(--cinza-claro);
  letter-spacing: 1px;
}

.legenda-img a {
  color: var(--cinza-claro);
  text-decoration: none;
}

.legenda-img a:hover {
  color: var(--branco-fraco);
}

.destaque-direito {
  margin: auto 0;
}

.tag-destaque {
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  color: var(--cinza-claro);
}

.titulo-destaque {
  margin-top: 22px;
  font-family: var(--serif);
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 1.2;
  color: var(--branco);
  margin-bottom: 30px; 
}

.texto-destaque {
  font-family: var(--sans);
  letter-spacing: 1px;
  color: var(--cinza-claro);
  line-height: 1.7;
  margin-bottom: 26px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--cinza-linha);
}

.info-destaque {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: fit-content;
}

.info-item {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.info-label {
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 10px;
  color: var(--cinza-claro);
  margin-bottom: 10px;
}

.info-valor {
  font-family: var(--sans);
  color: var(--branco);
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: capitalize;
}

/* SEÇÃO PORTFÓLIO*/ 

.portfolio-section {
  min-height: 100vh;
  height: 100%;
  background-color: var(--cinza-escuro);
  padding: 120px 0px;
  border-bottom: 1px solid var(--cinza-linha);
}

.portfolio-header span {
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  color: var(--cinza-claro);
}

.titulo-portfolio {
  margin: 22px 0px 56px 0px;
  font-family: var(--serif);
  font-style: italic;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 1.2;
  color: var(--branco);
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.portfolio-item {
  overflow: hidden;
  position: relative;
}

.portfolio-item img {
  max-width: 360px;
  width: 100%;
  height: 360px;
  object-fit: cover;
  transition: var(--transicao);
}

.portfolio-item img:hover {
  cursor: crosshair;
  transform: scale(1.07);
}

.legenda-portfolio {
  cursor: crosshair;
  opacity: 0;
  position: absolute;
  transition: var(--transicao);
  bottom: 10px;
  left: 10px;
  width: 100%;
  font-family: var(--sans);
  font-size: 13px;
  letter-spacing: 1px;
}

.portfolio-item:hover .legenda-portfolio {
  opacity: 1;
  color: var(--branco-fraco);
  transform: translateY(-5px);
  z-index: 100;
}

.portfolio-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-image: linear-gradient(to top, #000000d9, transparent);
  opacity: 0;
  transition: var(--transicao);

}

.portfolio-item:hover::after {
  opacity: 1;
}

.divisoria {
  margin-top: 60px;
  width: 10%;
  border-bottom: 1px solid var(--cinza-claro);
}

/*SEÇÃO PROCESSO*/ 

.processo-section {
  min-height: 90vh;
  background-color: var(--cinza-escuro);
  padding: 120px 0px;
  border-bottom: 1px solid var(--cinza-linha);
}

.processo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.tag-processo {
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  color: var(--cinza-claro);
  margin-bottom: 22px;
}

.titulo-processo {
  font-weight: normal;
  font-family: var(--serif);
  font-style: italic;
  font-size: 36px;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1.5;
  color: var(--branco);
  margin-top: 22px;
}

.side-direito {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-processo {
  display: flex;
  gap: 36px;
  padding-top: 24px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--cinza-linha);
}

.num-item {
  font-family: var(--serif);
  text-transform: uppercase;
  font-size: 18px;
  color: var(--cinza-claro-2);
}

.texto-processo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.texto-processo h3{
  font-weight: normal;
  font-family: var(--serif);
  font-style: italic;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1.5;
  color: var(--branco-fraco);
}

.texto-processo p{
  font-family: var(--sans);
  color: var(--cinza-claro);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

/*--SEÇÃO DUVIDAS---*/

.duvidas-section {
  min-height: 80vh;
  padding: 120px 0px;
  background-color: var(--cinza-escuro); 
}

.duvidas-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.div-texto {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.tag-duvidas {
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  color: var(--cinza-claro);
}

.titulo-duvidas {
  font-weight: normal;
  font-family: var(--serif);
  font-style: italic;
  font-size: 36px;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1.5;
  color: var(--branco);
}

.faq-lista {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.faq-item {
  padding-bottom: 26px;
  border-bottom: 1px solid var(--cinza-linha);
}

.duvida {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: normal;
  font-family: var(--sans);
  font-size: 18px;
  line-height: 1.5;
  color: var(--branco-fraco);
}

.duvida::after {
  content: '+';
  font-family: var(--serif);
  font-weight: normal;
  color: var(--cinza-claro);
  font-size: 20px;
}

.resposta {
  margin-top: 16px;
  font-family: var(--sans);
  color: var(--cinza-claro);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

/*--SEÇÃO AGENDAMENTO--*/
.ag-section {
  min-height: 100vh;
  padding: 120px 0px;
  background-color: var(--cinza-medio);
}

.ag-grid {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ag-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag-ag {
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  color: var(--cinza-claro);
  margin-bottom: 22px;
}

.ag-header h2{
  font-weight: bold;
  font-family: var(--serif);
  font-size: 46px;
  line-height: 1.5;
  color: var(--branco);
  margin-bottom: 10px;
}

.ag-header p{
  text-align: center;
  font-family: var(--sans);
  color: var(--cinza-claro);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.5px;
  max-width: 70%;
  margin-bottom: 100px;
}

.ag-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 70%;
}

.ag-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.ag-linha {
  display: flex;
  flex-direction: column;
}

.ag-linha label{
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 11px;
  color: var(--cinza-claro);
  margin-bottom: 26px;
}

.ag-linha input{
  background: none;
  border: none;
  outline: none;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--cinza-linha);
  transition: var(--transicao);
}

.ag-linha input:focus{
  border-bottom: 1px solid var(--branco);
}

::placeholder {
  font-size: 16px;
  opacity: 70%;
}

.ag-campo {
  display: flex;
  flex-direction: column;
}

.ag-campo label{
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 11px;
  color: var(--cinza-claro);
  margin-bottom: 26px;
}

.ag-campo select{
  font-family: var(--sans);
  background: none;
  border: none;
  outline: none;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--cinza-linha);
  transition: var(--transicao);
  font-size: 16px;
  opacity: 80%;
}

.ag-campo select:focus{
  border-bottom: 1px solid var(--branco);
}


#ag-estilo option{
  font-family: var(--sans);
  font-size: 16px;
  background-color: var(--cinza-medio);
}

.ag-campo textarea {
  font-family: var(--sans);
  letter-spacing: 0.5px;
  background: none;
  border: none;
  outline: none;
  padding-bottom: 56px;
  border-bottom: 1px solid var(--cinza-linha);
  transition: var(--transicao);
}

.ag-campo textarea:focus {
  border-bottom: 1px solid var(--branco);
}

.ag-campo input {
  background: none;
  border: none;
  outline: none;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--cinza-linha);
  transition: var(--transicao);
}

.anexo {
  display: flex;
  flex-direction: column;
  border: 1px dashed var(--cinza-linha);
  padding: 28px ;
  align-items: center;
  transition: var(--transicao);
  margin-bottom: 16px;
}

.anexo:hover {
  border-color: var(--branco-fraco);
}

.anexo input {
  display: none;
}

.span-file {
  font-family: var(--sans);
  font-size: 14px;
  letter-spacing: 0.5px;
  color: var(--cinza-claro);
  margin-bottom: 10px;
}

.span-file2 {
  font-family: var(--sans);
  font-size: 12px;
  opacity: 60%;
  letter-spacing: 0.5px;
  color: var(--cinza-claro);
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.btn-primary {
  font-size: 14px;
  border: none;
  padding: 12px 60px;
  background-color: var(--branco);
  color: var(--preto);
  text-transform: uppercase;
  font-family: var(--sans);
  letter-spacing: 1.5px;
  width: 100%;
  transition: var(--transicao);

}

.btn-primary:hover {
  background: transparent;
  border: 1px solid var(--branco);
  color: var(--branco);
}

.btn-second {
  text-align: center;
  font-size: 14px;
  border: 1px solid var(--cinza-claro-2);
  padding: 16px 60px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: var(--sans);
  letter-spacing: 1.5px;
  width: 100%;
  transition: var(--transicao);
  text-decoration: none;
  color: var(--branco);
  white-space: nowrap;
}

.btn-second:hover {
  background-color: var(--branco);
  color: var(--preto);
}

/*--SEÇÃO RODAPÉ-FOOTER--*/
footer {
  background-color: var(--cinza-escuro);
  padding: 80px 0px 49px 0px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;

}

.item-footer {
  width: fit-content;
}

.item-footer span {
  text-transform: capitalize;
  font-family: var(--serif);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--branco);
}

.item-footer em {
  color: var(--cinza-claro);
  font-style: italic;
  margin-left: 6px;
}

.text-lista {
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  color: var(--cinza-claro-2);
  margin-bottom: 28px;
}

.lista-footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.lista-footer li a{
  text-decoration: none;
  text-transform: capitalize;
  color: var(--branco-fraco);
  font-family: var(--sans);
  font-size: 14px;
  letter-spacing: 0.5px;
  opacity: 80%;
}

.lista-footer li a:hover {
  color: var(--branco);
}

.footer-bottom {
  margin-top: 40px;
  display: flex;
 justify-content: space-between;
 border-top: 1px solid var(--cinza-linha);
 padding-top: 40px;
}

.footer-bottom p{
  text-decoration: none;
  text-transform: capitalize;
  color: var(--cinza-claro-2);
  font-family: var(--sans);
  font-size: 12px;
  letter-spacing: 0.5px;
}


@media (max-width: 768px) {

  /*---CABEÇALHO MOBILE---*/
  .navbar {
    padding: 24px;
  }

  .logo {
    font-size: 14px;
  }

  .lista-nav {
    display: none;
  }

  .lista-nav li a {
    font-size: 12px;
  }

  .btn-nav {
    padding: 8px 16px;
    font-size: 12px;
  }
  
  /*---HERO MOBILE---*/

  .hero-conteudo {
    padding: 0px 24px;
    justify-content: center;
  }
  .span-hero {
    font-size: 10px;
  }

  .titulo {
    font-size: 40px;
    max-width: 100%;
  }

  .texto-hero {
    font-size: 14px;
    max-width: 100%;
  }

  /*---SOBRE MOBILE---*/

  .sobre-section {
   padding: 80px 0px;
  }

  .sobre-grid {
    grid-template-columns: 1fr;
  }

  .sobre-esquerdo span {
    font-size: 10px;
  }

  .nome-sobre {
    font-size: 24px;
    margin-bottom: 28px;
  }

  .titulo-sobre {
    font-size: 18px;
  }

  .sobre-direito p {
    font-size: 14px;
  }

  /*-----DESTAQUE MOBILE----*/

  .destaque-section {
    padding: 80px 0px;
  }


  .destaque-direito {
    margin: 0;
  }

  .destaque-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .img-destaque {
    width: 280px;
  }

  .legenda-img {
    font-size: 12px;
  }

  .destaque-esquerdo span {
    font-size: 10px;
    display: flex;
    justify-content: center;
  }

  .tag-destaque {
    font-size: 10px;
  }

  .titulo-destaque {
    font-size: 24px;
  }

  .texto-destaque {
    font-size: 14px;
  }

  .info-label {
    font-size: 10px;
  }

  .info-valor {
    font-size: 12px;
  }

  /*---PORTFÓLIO MOBILE---*/

  .portfolio-section {
    padding: 80px 0px;
  }

  .portfolio-header span {
    font-size: 10px;
  }

  .titulo-portfolio {
    font-size: 24px;
    margin: 22px 0px 38px 0px;
  }


  .portfolio-grid {
    grid-template-columns: 1fr;
  }

  .portfolio-item img {
    width: 300px;
    height: 280px
  }

  /*---PROCESSO MOBILE---*/
  .processo-section {
    padding: 80px 0px;
  }

  .processo-grid {
    grid-template-columns: 1fr;
  }

  .span-processo {
    font-size: 10px;
  }

  .titulo-processo {
    font-size: 24px;
  }

  .texto-processo h3{
    font-size: 16px;
  }

  /*---DUVIDAS MOBILE---*/
  .duvidas-section {
    padding: 80px 0px;
  }

  .duvidas-grid {
    grid-template-columns: 1fr;

  }

  .tag-duvidas {
    font-size: 10px;
  }

  .titulo-duvidas {
    font-size: 24px;
  }

  .duvida {
    font-size: 16px;
  }

  /*--AGENDAMENTO MOBILE--*/

  .ag-section {
    padding: 80px 0px ;
  }

  .ag-form {
    max-width: 100%;
  }

  .tag-ag {
    font-size: 10px;
  }

  .ag-header h2{
    font-size: 32px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 22px;
  }

  .ag-header p{
    max-width: 100%;
    margin-bottom: 60px;
  }

  .ag-row {
    grid-template-columns: 1fr;
    max-width: 100%;
  }

  .ag-campo label {
    font-size: 10px;
  }

  .ag-campo select {
    font-size: 14px;
  }

  #ag-estilo option {
    font-size: 14px;
  }

  .ag-linha label {
    font-size: 10px;
  }

  ::placeholder {
    font-size: 14px;
  }

  .anexo {
    padding: 16px;
    text-align: center;
  }

  .span-file {
    font-size: 12px;
  }

  .buttons {
    width: fit-content;
    flex-direction: column;
  }

  .btn-primary {
    font-size: 12px;
    padding: 10px 20px;
  }

  .btn-second {
    font-size: 12px;
    padding: 10px 40px;
  }

  /*---FOOTER MOBILE---*/

  footer {
    padding: 60px 0px 40px 0px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }

  .item-footer span {
    font-size: 14px;
  }

  .item-footer {
    margin-bottom: 30px;
  }

  .text-lista {
    font-size: 10px;
    margin-bottom: 20px;
  }
  
  .lista-footer li a {
    font-size: 13px;
  }

  .footer-bottom {
    margin-top: 0;
  }

  .footer-bottom p {
    font-size: 11px;
    width: fit-content;
  }
}


  